SOCKS_PROXY_URL=socks5://127.0.0.1:10808

# Токен бота из @BotFather
BOT_TOKEN=

# Путь к файлу SQLite
DATABASE_PATH=./data/budget.db

# Уровень логирования: fatal | error | warn | info | debug | trace
LOG_LEVEL=info

# Окружение: development | production | test
NODE_ENV=development